In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./Player Totals.csv")
df

,season,lg,player,player_id,age,team,pos,g,gs,mp,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,trp_dbl
0,2026,NBA,Precious Achiuwa,achiupr01,26.0,SAC,C,14,6.0,293.0,...,25.0,48.0,73.0,14,9.0,6.0,7.0,24.0,102,0.0
1,2026,NBA,Steven Adams,adamsst01,32.0,HOU,C,15,4.0,324.0,...,74.0,67.0,141.0,23,10.0,10.0,15.0,29.0,97,0.0
2,2026,NBA,Bam Adebayo,adebaba01,28.0,MIA,C,14,14.0,425.0,...,18.0,101.0,119.0,36,13.0,11.0,26.0,20.0,264,0.0
3,2026,NBA,Ochai Agbaji,agbajoc01,25.0,TOR,SG,15,1.0,204.0,...,5.0,23.0,28.0,10,6.0,2.0,5.0,26.0,46,0.0
4,2026,NBA,Santi Aldama,aldamsa01,25.0,MEM,PF,21,2.0,548.0,...,31.0,108.0,139.0,63,20.0,16.0,23.0,26.0,282,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33091,1947,BAA,Ray Wertis,wertira01,23.0,2TM,NaN,61,NaN,NaN,...,NaN,NaN,NaN,39,NaN,NaN,NaN,82.0,214,0.0
33092,1947,BAA,Ray Wertis,wertira01,23.0,TRH,NaN,18,NaN,NaN,...,NaN,NaN,NaN,18,NaN,NaN,NaN,29.0,99,0.0
33093,1947,BAA,Ray Wertis,wertira01,23.0,CLR,NaN,43,NaN,NaN,...,NaN,NaN,NaN,21,NaN,NaN,NaN,53.0,115,0.0
33094,1947,BAA,Max Zaslofsky,zasloma01,21.0,CHS,SG,61,NaN,NaN,...,NaN,NaN,NaN,40,NaN,NaN,NaN,121.0,877,0.0
33095,1947,BAA,Harry Zeller,zelleha01,27.0,PIT,NaN,48,NaN,NaN,...,NaN,NaN,NaN,31,NaN,NaN,NaN,177.0,362,0.0

In [4]:
df.head()

,season,lg,player,player_id,age,team,pos,g,gs,mp,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,trp_dbl
0,2026,NBA,Precious Achiuwa,achiupr01,26.0,SAC,C,14,6.0,293.0,...,25.0,48.0,73.0,14,9.0,6.0,7.0,24.0,102,0.0
1,2026,NBA,Steven Adams,adamsst01,32.0,HOU,C,15,4.0,324.0,...,74.0,67.0,141.0,23,10.0,10.0,15.0,29.0,97,0.0
2,2026,NBA,Bam Adebayo,adebaba01,28.0,MIA,C,14,14.0,425.0,...,18.0,101.0,119.0,36,13.0,11.0,26.0,20.0,264,0.0
3,2026,NBA,Ochai Agbaji,agbajoc01,25.0,TOR,SG,15,1.0,204.0,...,5.0,23.0,28.0,10,6.0,2.0,5.0,26.0,46,0.0
4,2026,NBA,Santi Aldama,aldamsa01,25.0,MEM,PF,21,2.0,548.0,...,31.0,108.0,139.0,63,20.0,16.0,23.0,26.0,282,0.0

In [5]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33096 entries, 0 to 33095
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   season        33096 non-null  int64
 1   lg            33096 non-null  object
 2   player        33096 non-null  object
 3   player_id     33096 non-null  object
 4   age           33076 non-null  float64
 5   team          33096 non-null  object
 6   pos           31900 non-null  object
 7   g             33096 non-null  int64
 8   gs            24941 non-null  float64
 9   mp            32013 non-null  float64
 10  fg            33096 non-null  int64
 11  fga           33096 non-null  int64
 12  fg_percent    32932 non-null  float64
 13  x3p           26744 non-null  float64
 14  x3pa          26743 non-null  float64
 15  x3p_percent   22481 non-null  float64
 16  x2p           26744 non-null  float64
 17  x2pa          26744 non-null  float64
 18  x2p_percent   26498 non-null  float64
 19  e_fg_percent  26599 non-null  float64
 20  ft            33096 non-null  int64
 21  fta           33096 non-null  int64
 22  ft_percent    31718 non-null  float64
 23  orb           28450 non-null  float64
 24  drb           28450 non-null  float64
 25  trb           32202 non-null  float64
 26  ast           33096 non-null  int64
 27  stl           27494 non-null  float64
 28  blk           27496 non-null  float64
 29  tov           27460 non-null  float64
 30  pf            33095 non-null  float64
 31  pts           33096 non-null  int64
 32  trp_dbl       33091 non-null  float64
dtypes: float64(20), int64(8), object(5)
memory usage: 8.3+ MB

,season,age,g,gs,mp,fg,fga,fg_percent,x3p,x3pa,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,trp_dbl
count,33096.000000,33076.000000,33096.000000,24941.000000,32013.000000,33096.000000,33096.000000,32932.000000,26744.000000,26743.000000,...,28450.000000,28450.000000,32202.000000,33096.000000,27494.000000,27496.000000,27460.000000,33095.000000,33096.000000,33091.000000
mean,1996.172861,26.470643,48.102097,22.294575,1144.096180,185.549613,409.897057,0.430723,26.242596,74.608458,...,58.448682,143.047381,213.766070,108.394247,37.277842,22.931008,69.491515,107.969844,487.348048,0.107189
std,20.851711,3.862820,26.767334,27.854238,924.672191,184.135647,390.179965,0.102443,43.033254,114.349435,...,66.828423,145.755257,222.884725,130.601135,37.117757,34.842974,67.073647,83.386467,484.875400,0.951575
min,1947.000000,18.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1980.000000,24.000000,23.000000,0.000000,299.000000,36.000000,88.000000,0.390000,0.000000,2.000000,...,11.000000,31.000000,47.000000,17.000000,8.000000,3.000000,15.000000,33.000000,95.000000,0.000000
50%,1999.000000,26.000000,53.000000,7.000000,959.000000,128.000000,294.000000,0.438000,4.000000,17.000000,...,34.000000,101.000000,148.000000,63.000000,27.000000,11.000000,49.000000,96.000000,335.000000,0.000000
75%,2014.000000,29.000000,73.000000,41.000000,1868.000000,283.000000,630.000000,0.481000,35.000000,104.000000,...,83.000000,207.000000,304.000000,150.000000,56.000000,28.000000,105.000000,171.000000,744.000000,0.000000
max,2026.000000,46.000000,90.000000,84.000000,3882.000000,1597.000000,3159.000000,1.000000,402.000000,1028.000000,...,587.000000,1111.000000,2149.000000,1164.000000,346.000000,456.000000,464.000000,386.000000,4029.000000,42.000000

In [3]:
df.isnull().sum()

season              0
lg                  0
player              0
player_id           0
age                20
team                0
pos              1196
g                   0
gs               8155
mp               1083
fg                  0
fga                 0
fg_percent        164
x3p              6352
x3pa             6353
x3p_percent     10615
x2p              6352
x2pa             6352
x2p_percent      6598
e_fg_percent     6497
ft                  0
fta                 0
ft_percent       1378
orb              4646
drb              4646
trb               894
ast                 0
stl              5602
blk              5600
tov              5636
pf                  1
pts                 0
trp_dbl             5
dtype: int64

In [6]:
df['trb'] = df['trb'].fillna(0)

In [7]:
df['trb'].isnull().sum()

0

In [9]:
df['fg_percent'] = df['fg_percent'].fillna(0)

In [10]:
df['fg_percent'].isnull().sum()

0

In [13]:
#df.isnull().sum()